
<mat-grid-list class="grid-list"  rowHeight="600px" [cols]="breakpoint" >

@if (isAdmin()) {
  @for (car of allCars; track car; let i = $index) {
    <mat-grid-tile>
      <app-car-card
        [id]="car.id"
        [brand]="car.brand" 
        [model]="car.model" 
        [carBodyType]="car.carBodyType"
        [year]="car.year"
        [color]="car.color"
        [mileage]="car.mileage" 
        [amount]="car.amount" 
        [imageUrl]="car.imageUrl"
        [status]="car.status">
      </app-car-card>
    </mat-grid-tile>
    }
} @else {
  @for (car of allAvailableCars; track car; let i = $index) {
    <mat-grid-tile>
      <app-car-card
        [id]="car.id"
        [brand]="car.brand" 
        [model]="car.model" 
        [carBodyType]="car.carBodyType"
        [year]="car.year"
        [color]="car.color"
        [mileage]="car.mileage" 
        [amount]="car.amount" 
        [imageUrl]="car.imageUrl"
        [status]="car.status">
      </app-car-card>
    </mat-grid-tile>
    }
}

  </mat-grid-list>