.element {
    margin-top: 220px;
}
h1 {
    height: 200px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h2 {
    color: aliceblue;
}