<main>
  <section id="hero">
    <h1 style="background-color: dimgray; opacity: 80%">Welcome</h1>
    <div style="background-color: dimgray; opacity: 80%">
      <h2>
        <mat-icon>money</mat-icon>The best prices on cars.<br />
        <mat-icon>security</mat-icon>Price transparency.<br />
        <mat-icon>group_add</mat-icon>Reserve with flexibility. <br /><mat-icon
          >notification_important</mat-icon
        >Price alerts
      </h2>
    </div>
    <br />
    <div class="example-button-container">
      <button mat-fab extended (click)="beginSearch()">
        <mat-icon>search</mat-icon>
        Begin search!
      </button>
    </div>
  </section>
</main>
