/* HEADER */
header {
    position: relative;
    padding: 0 2rem;
}
.navbar {
    width: 100%;
    height: 120px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbar .logo a:hover {
    color: rgb(209, 35, 35);
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .links a {
    color: white;
    text-decoration: none;
}

.navbar .links a:hover {
    color: rgb(209, 35, 35);
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.action_btn {
    background-color: rgb(209, 35, 35);
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
/* .action_btn:hover{
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
} */

.action_btn:hover{
    transform: scale(1.05);
    color: #fff;
}

.action_btn:active {
    transition: transform 0.3s ease, color 0.3s ease;
}

/* DROPDOWN MENU */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open {
    height: 240px;

}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* .white {
    color: white !important;
} */

/* RESPONSIVE DESIGN */
@media(max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu {
        display: block;
    }
}
/* iPhone SE 375x667 */
@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}
