<br><mat-card>
    <mat-card-header>
      <mat-card-title *ngIf="isAdmin()">BRANCH_ID: {{id}}</mat-card-title>
      <mat-card-subtitle>city: {{city}}</mat-card-subtitle>
      <mat-card-subtitle>address: <a href="">{{address}}</a></mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button *ngIf="isAdmin()" mat-button (click) = "update()">UPDATE</button>
      <button *ngIf="isAdmin()" mat-button (click) = "delete()">DELETE</button>
    </mat-card-actions>
  </mat-card>
  <br>