.example-card{
    margin: 30px 30px 30px 30px;
    height: 300px;
    width: 800px;
}
mat-grid-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightblue;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .blob {
    background: green;
    border-radius: 50%;
    margin: 10px;
    height: 20px;
    width: 20px;
  
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
  }
  .blobred {
    background: red;
    border-radius: 50%;
    margin: 10px;
    height: 20px;
    width: 20px;
  
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
  }
  button {
    background-color: lightblue;
    margin-left: 5px;
  }
  .changeAvailable {
    background-color: lightgreen;
  }
  .changeUnavailable {
    background-color: lightcoral;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }