<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <div class="container">
        <div [ngClass]="{ 'blob': isAvailable(), 'blobred': !isAvailable() }"></div>
        {{ car.brand }}
      </div>
    </mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="imageUrl" />
  <mat-grid-list cols="2" rowHeight="3:1">
    <mat-grid-tile>
      <mat-card-content>
        <p>CAR MODEL: {{ car.model }}</p>

        <p>CAR BODY: {{ car.carBodyType }}</p>
        <p>CAR COLOR: {{ car.color }}</p>
      </mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card-content>
        <p>PRODUCTION YEAR: {{ car.year }}</p>
        <p>CAR MILEAGE: {{ car.mileage }} km</p>
        <p>Rental amount: {{ car.amount }} $/day</p>
      </mat-card-content>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-card-actions>
    <button *ngIf="isLoggedIn() && !isAdmin()" mat-button (click)="bookNow()">
      Book now
    </button>
    <button *ngIf="isAdmin()" mat-button (click)="gotoUpdate()">Update</button>
    <button *ngIf="isAdmin()" mat-button (click)="deleteCar()">Delete</button>
    <button class="change" *ngIf="status === 'UNAVAILABLE'" mat-button (click)="deleteCar()">
      Change status
    </button>
  </mat-card-actions>
</mat-card>
