
  .example-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }
  
  .car-image {
    width: 450px;
    height: 200px;
    object-fit: cover;
  }
  
  .mat-grid-tile {
    padding: 10px;
    box-sizing: border-box;
  }
  
  .mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .blob {
    background: green;
    border-radius: 50%;
    margin: 10px;
    height: 20px;
    width: 20px;
  
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
  }
  .blobred {
    background: red;
    border-radius: 50%;
    margin: 10px;
    height: 20px;
    width: 20px;
  
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
  }
  @keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }