<ul class="links">
    <li><a [routerLink]="['/']">Home</a></li> 
    <li><a [routerLink]="['/add-reservation']">Make a reservation</a></li>
    <li><a [routerLink]="['/reservation']">All reservations</a></li>
    <li><a [routerLink]="['/add-employee']">Create an employee</a></li>
    <li><a [routerLink]="['/file-upload']">Upload a file</a></li>
    <!-- <li><a [routerLink]="['/fleet']">Fleet</a></li>
    <li><a [routerLink]="['/contact']">Contact</a></li>
    <li><a [routerLink]="['/test']">TEST</a></li> -->
  </ul>
